In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os
import pickle
import warnings
warnings.filterwarnings('ignore')
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, r2_score
from nba_api.stats.endpoints import playercareerstats
from nba_api.stats.static import players
from nba_api.stats.endpoints import teamyearbyyearstats
from nba_api.stats.static import teams
from nba_api.stats.endpoints import teamgamelogs
from nba_api.stats.endpoints import TeamGameLog
from nba_api.stats.endpoints import TeamInfoCommon 
from nba_api.stats.endpoints import TeamYearByYearStats
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [2]:
data=pd.read_csv('DataSetClean.csv')

In [3]:
data=data.drop(['Unnamed: 0'],axis=1)

In [4]:
data.columns

Index(['season', 'player', 'pos', 'age', 'team_id', 'g', 'gs', 'mp_per_g',
       'fg_per_g', 'fga_per_g', 'fg_pct', 'fg3_per_g', 'fg3a_per_g', 'fg3_pct',
       'fg2_per_g', 'fg2a_per_g', 'fg2_pct', 'efg_pct', 'ft_per_g',
       'fta_per_g', 'ft_pct', 'orb_per_g', 'drb_per_g', 'trb_per_g',
       'ast_per_g', 'stl_per_g', 'blk_per_g', 'tov_per_g', 'pf_per_g',
       'pts_per_g', 'mp', 'per', 'ts_pct', 'fg3a_per_fga_pct',
       'fta_per_fga_pct', 'orb_pct', 'drb_pct', 'trb_pct', 'ast_pct',
       'stl_pct', 'blk_pct', 'tov_pct', 'usg_pct', 'ows', 'dws', 'ws',
       'ws_per_48', 'obpm', 'dbpm', 'bpm', 'vorp', 'award_share', 'mov',
       'mov_adj', 'win_loss_pct'],
      dtype='object')

In [5]:
team_data= pd.DataFrame(teams.get_teams())
team_data

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Georgia,1949
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966
5,1610612742,Dallas Mavericks,DAL,Mavericks,Dallas,Texas,1980
6,1610612743,Denver Nuggets,DEN,Nuggets,Denver,Colorado,1976
7,1610612744,Golden State Warriors,GSW,Warriors,Golden State,California,1946
8,1610612745,Houston Rockets,HOU,Rockets,Houston,Texas,1967
9,1610612746,Los Angeles Clippers,LAC,Clippers,Los Angeles,California,1970
10,1610612747,Los Angeles Lakers,LAL,Lakers,Los Angeles,California,1948
11,1610612748,Miami Heat,MIA,Heat,Miami,Florida,1988
12,1610612749,Milwaukee Bucks,MIL,Bucks,Milwaukee,Wisconsin,1968
13,1610612750,Minnesota Timberwolves,MIN,Timberwolves,Minnesota,Minnesota,1989
14,1610612751,Brooklyn Nets,BKN,Nets,Brooklyn,New York,1976
15,1610612752,New York Knicks,NYK,Knicks,New York,New York,1946
16,1610612753,Orlando Magic,ORL,Magic,Orlando,Florida,1989
17,1610612754,Indiana Pacers,IND,Pacers,Indiana,Indiana,1976
18,1610612755,Philadelphia 76ers,PHI,76ers,Philadelphia,Pennsylvania,1949
19,1610612756,Phoenix Suns,PHX,Suns,Phoenix,Arizona,1968
20,1610612757,Portland Trail Blazers,POR,Trail Blazers,Portland,Oregon,1970
21,1610612758,Sacramento Kings,SAC,Kings,Sacramento,California,1948
22,1610612759,San Antonio Spurs,SAS,Spurs,San Antonio,Texas,1976
23,1610612760,Oklahoma City Thunder,OKC,Thunder,Oklahoma City,Oklahoma,1967
24,1610612761,Toronto Raptors,TOR,Raptors,Toronto,Ontario,1995
25,1610612762,Utah Jazz,UTA,Jazz,Utah,Utah,1974
26,1610612763,Memphis Grizzlies,MEM,Grizzlies,Memphis,Tennessee,1995
27,1610612764,Washington Wizards,WAS,Wizards,Washington,District of Columbia,1961
28,1610612765,Detroit Pistons,DET,Pistons,Detroit,Michigan,1948
29,1610612766,Charlotte Hornets,CHA,Hornets,Charlotte,North Carolina,1988

In [6]:
teamstats = TeamYearByYearStats(
    league_id = "00",
    per_mode_simple = "Totals",
    season_type_all_star = "Regular Season",
    team_id = "1610612749",
)
team_game_log_data = teamstats.get_data_frames()[0]
team_game_log_data['YEAR'] = pd.to_datetime(team_game_log_data['YEAR'].str.split('-', expand=True)[0], format='%Y').dt.year
team_game_log_data = team_game_log_data[team_game_log_data['YEAR'] >= 1982]
team_game_log_data.reset_index(drop=True, inplace=True)

In [7]:
import pandas as pd


team_ids = [1610612737, 1610612738, 1610612739, 1610612740, 1610612741, 1610612742,
            1610612743, 1610612744, 1610612745, 1610612746, 1610612747, 1610612748,
            1610612749, 1610612750, 1610612751, 1610612752, 1610612753, 1610612754,
            1610612755, 1610612756, 1610612757, 1610612758, 1610612759, 1610612760,
            1610612761, 1610612762, 1610612763, 1610612764, 1610612765, 1610612766]

all_team_data = pd.DataFrame()
for team_id in team_ids:
    teamstats = TeamYearByYearStats(
        league_id="00",
        per_mode_simple="Totals",
        season_type_all_star="Regular Season",
        team_id=str(team_id),
    )
    team_game_log_data = teamstats.get_data_frames()[0]
    team_game_log_data['YEAR'] = pd.to_datetime(team_game_log_data['YEAR'].str.split('-', expand=True)[0], format='%Y').dt.year
    team_game_log_data = team_game_log_data[team_game_log_data['YEAR'] >= 1982]
    team_game_log_data.reset_index(drop=True, inplace=True)
    all_team_data = pd.concat([all_team_data, team_game_log_data], ignore_index=True)

print(all_team_data)

         TEAM_ID  TEAM_CITY TEAM_NAME  YEAR  GP  WINS  LOSSES  WIN_PCT  \
0     1610612737    Atlanta     Hawks  1982  82    43      39    0.524
1     1610612737    Atlanta     Hawks  1983  82    40      42    0.488
2     1610612737    Atlanta     Hawks  1984  82    34      48    0.415
3     1610612737    Atlanta     Hawks  1985  82    50      32    0.610
4     1610612737    Atlanta     Hawks  1986  82    57      25    0.695
...          ...        ...       ...   ...  ..   ...     ...      ...
1181  1610612766  Charlotte   Hornets  2019  65    23      42    0.354
1182  1610612766  Charlotte   Hornets  2020  72    33      39    0.458
1183  1610612766  Charlotte   Hornets  2021  82    43      39    0.524
1184  1610612766  Charlotte   Hornets  2022  82    27      55    0.329
1185  1610612766  Charlotte   Hornets  2023  30     7      23    0.233

      CONF_RANK  DIV_RANK  ...  OREB  DREB   REB   AST    PF  STL   TOV  BLK  \
0             6         2  ...  1139  2433  3572  1945  2022  573  1424  665
1             7         3  ...  1112  2232  3344  1827  2091  626  1329  558
2             9         5  ...  1161  2345  3506  2009  2047  665  1475  541
3             4         2  ...  1249  2405  3654  2025  2170  736  1483  434
4             2         1  ...  1350  2478  3828  2077  2152  700  1279  511
...         ...       ...  ...   ...   ...   ...   ...   ...  ...   ...  ...
1181         10         4  ...   715  2066  2781  1549  1223  428   949  268
1182         10         4  ...   762  2389  3151  1933  1298  565  1069  344
1183         10         3  ...   888  2767  3655  2302  1629  707  1087  402
1184         14         5  ...   901  2751  3652  2062  1661  634  1164  425
1185         13         4  ...   325   909  1234   763   588  205   415  145

       PTS  PTS_RANK
0     8335        19
1     8321        23
2     8743        20
3     8906        17
4     9024        12
...    ...       ...
1181  6687        30
1182  7881        23
1183  9457         4
1184  9098        27
1185  3317        30

[1186 rows x 34 columns]

In [8]:
data

,season,player,pos,age,team_id,g,gs,mp_per_g,fg_per_g,fga_per_g,...,ws,ws_per_48,obpm,dbpm,bpm,vorp,award_share,mov,mov_adj,win_loss_pct
0,1982,Kareem Abdul-Jabbar,C,34,LAL,76,76,35.2,9.9,17.1,...,10.7,0.192,3.8,1.2,5.0,4.7,0.045,4.87,4.37,0.695
1,1982,Alvan Adams,C,27,PHO,79,75,30.3,6.4,13.0,...,7.2,0.144,1.4,2.2,3.6,3.4,0.000,3.45,3.05,0.561
2,1982,Larry Bird,PF,25,BOS,77,58,38.0,9.2,18.4,...,12.5,0.205,4.4,2.3,6.6,6.4,0.588,6.38,6.35,0.768
3,1982,Michael Cooper,SG,25,LAL,76,14,28.9,5.0,9.8,...,5.0,0.109,-0.3,1.2,0.9,1.6,0.004,4.87,4.37,0.695
4,1982,Adrian Dantley,SF,26,UTA,81,81,39.8,11.2,19.6,...,12.6,0.187,5.8,-1.7,4.1,5.0,0.010,-5.66,-5.63,0.305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1441,2022,Karl-Anthony Towns,C,26,MIN,74,74,33.5,8.7,16.4,...,10.3,0.199,4.5,0.5,5.0,4.4,0.000,2.63,2.53,0.561
1442,2022,Jonas Valančiūnas,C,29,NOP,74,74,30.3,6.9,12.7,...,7.3,0.156,2.0,-0.1,1.9,2.2,0.000,-0.99,-0.84,0.439
1443,2022,Nikola Vučević,C,31,CHI,73,73,33.1,7.5,15.8,...,4.5,0.090,0.8,0.1,0.9,1.8,0.000,-0.39,-0.37,0.561
1444,2022,Christian Wood,C,26,HOU,68,67,30.8,6.5,12.9,...,4.9,0.112,2.1,-0.4,1.6,1.9,0.000,-8.48,-8.26,0.244
1445,2022,Trae Young,PG,23,ATL,76,76,34.9,9.4,20.3,...,10.0,0.181,7.1,-2.0,5.2,4.8,0.000,1.56,1.55,0.524

In [9]:
data['team_id'] = data['team_id'].replace('PHO', 'PHX')
data['team_id'] = data['team_id'].replace('CHO', 'CHA')
data['team_id'] = data['team_id'].replace('NJN', 'BKN')
data['team_id'] = data['team_id'].replace('BRK', 'BKN')
data['team_id'] = data['team_id'].replace('TOT', 'TOR')
data['team_id'] = data['team_id'].replace('SEA', 'OKC')
data['team_id'] = data['team_id'].replace('SDC', 'LAC')
data['team_id'] = data['team_id'].replace('KCK', 'SAC')
data['team_id'] = data['team_id'].replace('WSB', 'WAS')
data['team_id'] = data['team_id'].replace('CHH', 'CHA')
data['team_id'] = data['team_id'].replace('NOH', 'NOP')
data['team_id'] = data['team_id'].replace('NOK', 'NOP')
data['team_id'] = data['team_id'].replace('VAN', 'MEM')

In [10]:
data

,season,player,pos,age,team_id,g,gs,mp_per_g,fg_per_g,fga_per_g,...,ws,ws_per_48,obpm,dbpm,bpm,vorp,award_share,mov,mov_adj,win_loss_pct
0,1982,Kareem Abdul-Jabbar,C,34,LAL,76,76,35.2,9.9,17.1,...,10.7,0.192,3.8,1.2,5.0,4.7,0.045,4.87,4.37,0.695
1,1982,Alvan Adams,C,27,PHX,79,75,30.3,6.4,13.0,...,7.2,0.144,1.4,2.2,3.6,3.4,0.000,3.45,3.05,0.561
2,1982,Larry Bird,PF,25,BOS,77,58,38.0,9.2,18.4,...,12.5,0.205,4.4,2.3,6.6,6.4,0.588,6.38,6.35,0.768
3,1982,Michael Cooper,SG,25,LAL,76,14,28.9,5.0,9.8,...,5.0,0.109,-0.3,1.2,0.9,1.6,0.004,4.87,4.37,0.695
4,1982,Adrian Dantley,SF,26,UTA,81,81,39.8,11.2,19.6,...,12.6,0.187,5.8,-1.7,4.1,5.0,0.010,-5.66,-5.63,0.305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1441,2022,Karl-Anthony Towns,C,26,MIN,74,74,33.5,8.7,16.4,...,10.3,0.199,4.5,0.5,5.0,4.4,0.000,2.63,2.53,0.561
1442,2022,Jonas Valančiūnas,C,29,NOP,74,74,30.3,6.9,12.7,...,7.3,0.156,2.0,-0.1,1.9,2.2,0.000,-0.99,-0.84,0.439
1443,2022,Nikola Vučević,C,31,CHI,73,73,33.1,7.5,15.8,...,4.5,0.090,0.8,0.1,0.9,1.8,0.000,-0.39,-0.37,0.561
1444,2022,Christian Wood,C,26,HOU,68,67,30.8,6.5,12.9,...,4.9,0.112,2.1,-0.4,1.6,1.9,0.000,-8.48,-8.26,0.244
1445,2022,Trae Young,PG,23,ATL,76,76,34.9,9.4,20.3,...,10.0,0.181,7.1,-2.0,5.2,4.8,0.000,1.56,1.55,0.524

In [14]:
sorted_team_data = all_team_data.sort_values(by='YEAR')
sorted_team_data.reset_index(drop=True, inplace=True)
print(sorted_team_data)

         TEAM_ID     TEAM_CITY TEAM_NAME  YEAR  GP  WINS  LOSSES  WIN_PCT  \
0     1610612737       Atlanta     Hawks  1982  82    43      39    0.524
1     1610612756       Phoenix      Suns  1982  82    53      29    0.646
2     1610612755  Philadelphia     76ers  1982  82    65      17    0.793
3     1610612754       Indiana    Pacers  1982  82    20      62    0.244
4     1610612738        Boston   Celtics  1982  82    56      26    0.683
...          ...           ...       ...   ...  ..   ...     ...      ...
1181  1610612744  Golden State  Warriors  2023  32    15      17    0.469
1182  1610612743        Denver   Nuggets  2023  34    23      11    0.676
1183  1610612765       Detroit   Pistons  2023  32     3      29    0.094
1184  1610612751      Brooklyn      Nets  2023  32    15      17    0.469
1185  1610612766     Charlotte   Hornets  2023  30     7      23    0.233

      CONF_RANK  DIV_RANK  ...  OREB  DREB   REB   AST    PF  STL   TOV  BLK  \
0             6         2  ...  1139  2433  3572  1945  2022  573  1424  665
1             2         2  ...  1094  2518  3612  2300  2062  749  1545  495
2             1         1  ...  1334  2596  3930  2016  2041  812  1627  577
3            11         6  ...  1299  2294  3593  2150  2086  755  1535  411
4             3         2  ...  1273  2532  3805  2216  2062  789  1541  521
...         ...       ...  ...   ...   ...   ...   ...   ...  ...   ...  ...
1181         11         5  ...   425  1088  1513   900   679  221   482  110
1182          3         3  ...   384  1133  1517  1011   642  241   418  184
1183         15         5  ...   363  1033  1396   817   733  198   523  165
1184          9         4  ...   404  1094  1498   842   600  196   408  182
1185         13         4  ...   325   909  1234   763   588  205   415  145

       PTS  PTS_RANK
0     8335        19
1     8776        16
2     9191         7
3     8911        12
4     9191         7
...    ...       ...
1181  3738         9
1182  3919         4
1183  3529        22
1184  3707        12
1185  3317        30

[1186 rows x 34 columns]

In [15]:
merged_team_data = pd.merge(sorted_team_data, team_data[['id', 'abbreviation']], left_on='TEAM_ID', right_on='id')
merged_team_data.drop('id', axis=1, inplace=True)
print(merged_team_data)

         TEAM_ID    TEAM_CITY TEAM_NAME  YEAR  GP  WINS  LOSSES  WIN_PCT  \
0     1610612737      Atlanta     Hawks  1982  82    43      39    0.524
1     1610612737      Atlanta     Hawks  1983  82    40      42    0.488
2     1610612737      Atlanta     Hawks  1984  82    34      48    0.415
3     1610612737      Atlanta     Hawks  1985  82    50      32    0.610
4     1610612737      Atlanta     Hawks  1986  82    57      25    0.695
...          ...          ...       ...   ...  ..   ...     ...      ...
1181  1610612740  New Orleans  Pelicans  2019  72    30      42    0.417
1182  1610612740  New Orleans  Pelicans  2020  72    31      41    0.431
1183  1610612740  New Orleans  Pelicans  2021  82    36      46    0.439
1184  1610612740  New Orleans  Pelicans  2022  82    42      40    0.512
1185  1610612740  New Orleans  Pelicans  2023  32    18      14    0.563

      CONF_RANK  DIV_RANK  ...  DREB   REB   AST    PF  STL   TOV  BLK   PTS  \
0             6         2  ...  2433  3572  1945  2022  573  1424  665  8335
1             7         3  ...  2232  3344  1827  2091  626  1329  558  8321
2             9         5  ...  2345  3506  2009  2047  665  1475  541  8743
3             4         2  ...  2405  3654  2025  2170  736  1483  434  8906
4             2         1  ...  2478  3828  2077  2152  700  1279  511  9024
...         ...       ...  ...   ...   ...   ...   ...  ...   ...  ...   ...
1181         13         5  ...  2551  3348  1932  1524  539  1181  358  8341
1182         11         4  ...  2568  3413  1872  1295  545  1052  315  8251
1183          9         3  ...  2726  3707  2047  1612  680  1153  328  8962
1184          9         2  ...  2717  3583  2122  1678  681  1196  337  9378
1185          7         2  ...  1067  1412   837   643  267   436  146  3698

      PTS_RANK  abbreviation
0           19           ATL
1           23           ATL
2           20           ATL
3           17           ATL
4           12           ATL
...        ...           ...
1181         6           NOP
1182         9           NOP
1183        21           NOP
1184        15           NOP
1185        13           NOP

[1186 rows x 35 columns]

In [16]:
sorted_team_data = merged_team_data.sort_values(by='YEAR')
sorted_team_data.reset_index(drop=True, inplace=True)
print(sorted_team_data)

         TEAM_ID     TEAM_CITY      TEAM_NAME  YEAR  GP  WINS  LOSSES  \
0     1610612737       Atlanta          Hawks  1982  82    43      39
1     1610612758   Kansas City          Kings  1982  82    45      37
2     1610612757      Portland  Trail Blazers  1982  82    46      36
3     1610612756       Phoenix           Suns  1982  82    53      29
4     1610612739     Cleveland      Cavaliers  1982  82    23      59
...          ...           ...            ...   ...  ..   ...     ...
1181  1610612753       Orlando          Magic  2023  31    19      12
1182  1610612738        Boston        Celtics  2023  31    25       6
1183  1610612754       Indiana         Pacers  2023  31    17      14
1184  1610612755  Philadelphia          76ers  2023  32    22      10
1185  1610612740   New Orleans       Pelicans  2023  32    18      14

      WIN_PCT  CONF_RANK  DIV_RANK  ...  DREB   REB   AST    PF  STL   TOV  \
0       0.524          6         2  ...  2433  3572  1945  2022  573  1424
1       0.549          6         2  ...  2407  3663  2155  2432  765  1691
2       0.561          5         4  ...  2380  3560  2030  1960  749  1495
3       0.646          2         2  ...  2518  3612  2300  2062  749  1545
4       0.280         10         5  ...  2414  3587  1738  2236  617  1538
...       ...        ...       ...  ...   ...   ...   ...   ...  ...   ...
1181    0.613          4         1  ...  1012  1354   774   658  258   460
1182    0.806          1         1  ...  1114  1457   798   541  209   407
1183    0.548          7         3  ...   935  1240   955   691  238   423
1184    0.688          3         2  ...  1058  1415   814   659  291   401
1185    0.563          7         2  ...  1067  1412   837   643  267   436

      BLK   PTS  PTS_RANK  abbreviation
0     665  8335        19           ATL
1     409  9328         4           SAC
2     384  8808        15           POR
3     495  8776        16           PHX
4     290  7964        23           CLE
...   ...   ...       ...           ...
1181  176  3504        25           ORL
1182  193  3730        11           BOS
1183  205  3924         3           IND
1184  191  3872         5           PHI
1185  146  3698        13           NOP

[1186 rows x 35 columns]

In [17]:
sorted_team_data.columns

Index(['TEAM_ID', 'TEAM_CITY', 'TEAM_NAME', 'YEAR', 'GP', 'WINS', 'LOSSES',
       'WIN_PCT', 'CONF_RANK', 'DIV_RANK', 'PO_WINS', 'PO_LOSSES',
       'CONF_COUNT', 'DIV_COUNT', 'NBA_FINALS_APPEARANCE', 'FGM', 'FGA',
       'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB',
       'DREB', 'REB', 'AST', 'PF', 'STL', 'TOV', 'BLK', 'PTS', 'PTS_RANK',
       'abbreviation'],
      dtype='object')

In [18]:
merged_data = pd.merge(data, sorted_team_data, left_on=['team_id', 'season'], right_on=['abbreviation', 'YEAR'], how='left')
merged_data = merged_data.drop(columns=['abbreviation'])
print(merged_data)

      season               player pos  age team_id   g  gs  mp_per_g  \
0       1982  Kareem Abdul-Jabbar   C   34     LAL  76  76      35.2
1       1982          Alvan Adams   C   27     PHX  79  75      30.3
2       1982           Larry Bird  PF   25     BOS  77  58      38.0
3       1982       Michael Cooper  SG   25     LAL  76  14      28.9
4       1982       Adrian Dantley  SF   26     UTA  81  81      39.8
...      ...                  ...  ..  ...     ...  ..  ..       ...
1441    2022   Karl-Anthony Towns   C   26     MIN  74  74      33.5
1442    2022    Jonas Valančiūnas   C   29     NOP  74  74      30.3
1443    2022       Nikola Vučević   C   31     CHI  73  73      33.1
1444    2022       Christian Wood   C   26     HOU  68  67      30.8
1445    2022           Trae Young  PG   23     ATL  76  76      34.9

      fg_per_g  fga_per_g  ...    OREB    DREB     REB     AST      PF    STL  \
0          9.9       17.1  ...  1235.0  2433.0  3668.0  2519.0  1931.0  844.0
1          6.4       13.0  ...  1094.0  2518.0  3612.0  2300.0  2062.0  749.0
2          9.2       18.4  ...  1273.0  2532.0  3805.0  2216.0  2062.0  789.0
3          5.0        9.8  ...  1235.0  2433.0  3668.0  2519.0  1931.0  844.0
4         11.2       19.6  ...  1093.0  2550.0  3643.0  2176.0  2017.0  758.0
...        ...        ...  ...     ...     ...     ...     ...     ...    ...
1441       8.7       16.4  ...   749.0  2686.0  3435.0  2145.0  1768.0  657.0
1442       6.9       12.7  ...   866.0  2717.0  3583.0  2122.0  1678.0  681.0
1443       7.5       15.8  ...   694.0  2779.0  3473.0  2006.0  1551.0  644.0
1444       6.5       12.9  ...  1100.0  2695.0  3795.0  1835.0  1679.0  600.0
1445       9.4       20.3  ...   920.0  2719.0  3639.0  2049.0  1541.0  580.0

         TOV    BLK     PTS  PTS_RANK
0     1584.0  479.0  9433.0       2.0
1     1545.0  495.0  8776.0      16.0
2     1541.0  521.0  9191.0       7.0
3     1584.0  479.0  9433.0       2.0
4     1683.0  595.0  8938.0      11.0
...      ...    ...     ...       ...
1441  1258.0  444.0  9494.0      13.0
1442  1196.0  337.0  9378.0      15.0
1443  1097.0  371.0  9276.0      22.0
1444  1332.0  374.0  9081.0      28.0
1445  1060.0  401.0  9711.0       3.0

[1446 rows x 89 columns]

In [19]:
merged_data.columns

Index(['season', 'player', 'pos', 'age', 'team_id', 'g', 'gs', 'mp_per_g',
       'fg_per_g', 'fga_per_g', 'fg_pct', 'fg3_per_g', 'fg3a_per_g', 'fg3_pct',
       'fg2_per_g', 'fg2a_per_g', 'fg2_pct', 'efg_pct', 'ft_per_g',
       'fta_per_g', 'ft_pct', 'orb_per_g', 'drb_per_g', 'trb_per_g',
       'ast_per_g', 'stl_per_g', 'blk_per_g', 'tov_per_g', 'pf_per_g',
       'pts_per_g', 'mp', 'per', 'ts_pct', 'fg3a_per_fga_pct',
       'fta_per_fga_pct', 'orb_pct', 'drb_pct', 'trb_pct', 'ast_pct',
       'stl_pct', 'blk_pct', 'tov_pct', 'usg_pct', 'ows', 'dws', 'ws',
       'ws_per_48', 'obpm', 'dbpm', 'bpm', 'vorp', 'award_share', 'mov',
       'mov_adj', 'win_loss_pct', 'TEAM_ID', 'TEAM_CITY', 'TEAM_NAME', 'YEAR',
       'GP', 'WINS', 'LOSSES', 'WIN_PCT', 'CONF_RANK', 'DIV_RANK', 'PO_WINS',
       'PO_LOSSES', 'CONF_COUNT', 'DIV_COUNT', 'NBA_FINALS_APPEARANCE', 'FGM',
       'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT',
       'OREB', 'DREB', 'REB', 'AST', 'PF', 'STL', 'TOV', 'BLK', 'PTS',
       'PTS_RANK'],
      dtype='object')

In [20]:
pd.set_option('display.max_columns', None)

In [31]:
data=merged_data

In [39]:
df2=data

In [28]:
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor, GradientBoostingRegressor
from sklearn.svm import SVR
from sklearn.neural_network import MLPRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score, explained_variance_score, mean_squared_log_error
from sklearn.model_selection import train_test_split

def train_and_test_model(model, train_data, test_data, player_names, testing_season):
    X_train = train_data.drop(['award_share'], axis=1)
    y_train = train_data['award_share']
    model.fit(X_train, y_train)
    X_test = test_data.drop(['award_share'], axis=1)
    y_test = test_data['award_share']
    y_pred = model.predict(X_test)
    mse = mean_squared_error(y_test, y_pred)
    mae = mean_absolute_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)
    evs = explained_variance_score(y_test, y_pred)
    top3_players_indices = y_pred.argsort()[-3:][::-1]
    top3_players_season = player_names[X_test.index].iloc[top3_players_indices].tolist()
    return {'testing_season': testing_season, 'top3_players': top3_players_season, 'mse': mse, 'mae': mae, 'r2': r2, 'evs': evs}

df = pd.read_csv('DataSetFinal.csv')
df = df.drop(['TEAM_ID', 'TEAM_CITY', 'TEAM_NAME', 'GP', 'pos', 'team_id', 'NBA_FINALS_APPEARANCE'], axis=1)
player_names = df['player']
df.drop(columns=['player'], inplace=True)
df.fillna(0, inplace=True)
results_list = []
for testing_season in range(2021, 2023):
    train_data = df[df['season'] < testing_season]
    test_data = df[df['season'] == testing_season]
    for model_name, model_class in [('RandomForestRegressor', RandomForestRegressor(random_state=42)),
                                    ('SVR', SVR()),
                                    ('AdaBoostRegressor', AdaBoostRegressor(random_state=42)),
                                    ('KNeighborsRegressor', KNeighborsRegressor()),
                                    ('DecisionTreeRegressor', DecisionTreeRegressor(random_state=42)),
                                    ('GradientBoostingRegressor', GradientBoostingRegressor(random_state=42))]:
        result = train_and_test_model(model_class, train_data, test_data, player_names, testing_season)
        results_list.append({'model': model_name, **result})
for result in results_list:
    print(f"Model: {result['model']}, Testing Season {result['testing_season']} - Top 3 Players: {', '.join(result['top3_players'])}")
    print(f"Model: {result['model']}, Testing Season {result['testing_season']} - Metrics: MSE={result['mse']}, MAE={result['mae']}, R2={result['r2']}, EVS={result['evs']}")

Model: RandomForestRegressor, Testing Season 2021 - Top 3 Players: Nikola Jokić, Giannis Antetokounmpo, Stephen Curry
Model: RandomForestRegressor, Testing Season 2021 - Metrics: MSE=0.012176943302702706, MAE=0.0638772972972973, R2=0.6828063976266108, EVS=0.6831317339174838
Model: SVR, Testing Season 2021 - Top 3 Players: Stephen Curry, Nikola Jokić, Rudy Gobert
Model: SVR, Testing Season 2021 - Metrics: MSE=0.03909414147242133, MAE=0.13592729562644604, R2=-0.01835175356199037, EVS=0.004398061227110728
Model: AdaBoostRegressor, Testing Season 2021 - Top 3 Players: Nikola Jokić, Joel Embiid, Giannis Antetokounmpo
Model: AdaBoostRegressor, Testing Season 2021 - Metrics: MSE=0.02593368777877914, MAE=0.14052658071023416, R2=0.32446102072661287, EVS=0.497974618200959
Model: KNeighborsRegressor, Testing Season 2021 - Top 3 Players: Paul George, Kawhi Leonard, Julius Randle
Model: KNeighborsRegressor, Testing Season 2021 - Metrics: MSE=0.04476851891891891, MAE=0.08296216216216215, R2=-0.16616193701594417, EVS=-0.08821416548740335
Model: DecisionTreeRegressor, Testing Season 2021 - Top 3 Players: Nikola Jokić, Luka Dončić, Joel Embiid
Model: DecisionTreeRegressor, Testing Season 2021 - Metrics: MSE=0.012359324324324322, MAE=0.05364864864864864, R2=0.6780556082195632, EVS=0.6796448075474495
Model: GradientBoostingRegressor, Testing Season 2021 - Top 3 Players: Nikola Jokić, Giannis Antetokounmpo, Stephen Curry
Model: GradientBoostingRegressor, Testing Season 2021 - Metrics: MSE=0.01137640528868887, MAE=0.06027992372426372, R2=0.7036593760949861, EVS=0.7037025826268084
Model: RandomForestRegressor, Testing Season 2022 - Top 3 Players: Nikola Jokić, Giannis Antetokounmpo, Joel Embiid
Model: RandomForestRegressor, Testing Season 2022 - Metrics: MSE=0.00817891918064516, MAE=0.05078451612903226, R2=0.8275153414267133, EVS=0.8279257811188456
Model: SVR, Testing Season 2022 - Top 3 Players: Jayson Tatum, Giannis Antetokounmpo, Nikola Jokić
Model: SVR, Testing Season 2022 - Metrics: MSE=0.04743174278895595, MAE=0.14696183258158538, R2=-0.00028472953362457254, EVS=0.004891579552496639
Model: AdaBoostRegressor, Testing Season 2022 - Top 3 Players: Nikola Jokić, Giannis Antetokounmpo, Joel Embiid
Model: AdaBoostRegressor, Testing Season 2022 - Metrics: MSE=0.018285805468307322, MAE=0.12305746309839288, R2=0.6143719184311911, EVS=0.7647466827260911
Model: KNeighborsRegressor, Testing Season 2022 - Top 3 Players: Jayson Tatum, Nikola Jokić, Luka Dončić
Model: KNeighborsRegressor, Testing Season 2022 - Metrics: MSE=0.04564559999999999, MAE=0.10892903225806451, R2=0.03738311169474484, EVS=0.053283011911843925
Model: DecisionTreeRegressor, Testing Season 2022 - Top 3 Players: Nikola Jokić, Giannis Antetokounmpo, Luka Dončić
Model: DecisionTreeRegressor, Testing Season 2022 - Metrics: MSE=0.009822548387096772, MAE=0.04287096774193548, R2=0.7928529592421855, EVS=0.7988554921083291
Model: GradientBoostingRegressor, Testing Season 2022 - Top 3 Players: Nikola Jokić, Giannis Antetokounmpo, Joel Embiid
Model: GradientBoostingRegressor, Testing Season 2022 - Metrics: MSE=0.005472634903345785, MAE=0.042482299737109694, R2=0.8845879825987729, EVS=0.8869608425520392

In [30]:
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.model_selection import train_test_split

df = pd.read_csv('DataSetFinal.csv')
df = df.drop(['TEAM_ID', 'TEAM_CITY', 'TEAM_NAME', 'GP', 'pos', 'team_id', 'NBA_FINALS_APPEARANCE'], axis=1)
player_names = df['player']
df.drop(columns=['player'], inplace=True)
df.fillna(0, inplace=True)
results_list = []
for testing_season in range(2021, 2023):
    train_data = df[df['season'] < testing_season]
    test_data = df[df['season'] == testing_season]
    X_train = train_data.drop(['award_share'], axis=1)
    y_train = train_data['award_share']
    scaler = StandardScaler()
    X_train_scaled = scaler.fit_transform(X_train)
    model = Sequential()
    model.add(Dense(100, activation='relu', input_dim=X_train_scaled.shape[1]))
    model.add(Dense(32, activation='relu'))
    model.add(Dense(100, activation='relu'))
    model.add(Dense(32, activation='relu'))
    model.add(Dense(1, activation='linear'))
    model.compile(optimizer='adam', loss='mean_squared_error')
    model.fit(X_train_scaled, y_train, epochs=50, batch_size=32, validation_split=0.2, verbose=2)
    X_test = test_data.drop(['award_share'], axis=1)
    y_test = test_data['award_share']
    X_test_scaled = scaler.transform(X_test)
    y_pred = model.predict(X_test_scaled).flatten()
    mse = mean_squared_error(y_test, y_pred)
    mae = mean_absolute_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)
    evs = explained_variance_score(y_test, y_pred)
    print(f'Testing Season {testing_season} - Mean Squared Error: {mse}')
    print(f'Testing Season {testing_season} - Mean Absolute Error: {mae}')
    print(f'Testing Season {testing_season} - R-squared: {r2}')
    print(f'Testing Season {testing_season} - Explained Variance Score: {evs}')
    top3_players_indices = y_pred.argsort()[-3:][::-1]
    top3_players_season = player_names[X_test.index].iloc[top3_players_indices].tolist()
    results_list.append({'testing_season': testing_season, 'top3_players': top3_players_season})
for result in results_list:
    print(f"Testing Season {result['testing_season']} - Top 3 Players: {', '.join(result['top3_players'])}")

Epoch 1/50
35/35 - 1s - loss: 0.0304 - val_loss: 0.0200 - 1s/epoch - 38ms/step
Epoch 2/50
35/35 - 0s - loss: 0.0139 - val_loss: 0.0152 - 148ms/epoch - 4ms/step
Epoch 3/50
35/35 - 0s - loss: 0.0106 - val_loss: 0.0166 - 144ms/epoch - 4ms/step
Epoch 4/50
35/35 - 0s - loss: 0.0085 - val_loss: 0.0132 - 160ms/epoch - 5ms/step
Epoch 5/50
35/35 - 0s - loss: 0.0063 - val_loss: 0.0141 - 144ms/epoch - 4ms/step
Epoch 6/50
35/35 - 0s - loss: 0.0058 - val_loss: 0.0180 - 134ms/epoch - 4ms/step
Epoch 7/50
35/35 - 0s - loss: 0.0049 - val_loss: 0.0272 - 147ms/epoch - 4ms/step
Epoch 8/50
35/35 - 0s - loss: 0.0038 - val_loss: 0.0214 - 151ms/epoch - 4ms/step
Epoch 9/50
35/35 - 0s - loss: 0.0038 - val_loss: 0.0145 - 153ms/epoch - 4ms/step
Epoch 10/50
35/35 - 0s - loss: 0.0034 - val_loss: 0.0147 - 144ms/epoch - 4ms/step
Epoch 11/50
35/35 - 0s - loss: 0.0023 - val_loss: 0.0154 - 173ms/epoch - 5ms/step
Epoch 12/50
35/35 - 0s - loss: 0.0024 - val_loss: 0.0153 - 161ms/epoch - 5ms/step
Epoch 13/50
35/35 - 0s - loss: 0.0016 - val_loss: 0.0212 - 148ms/epoch - 4ms/step
Epoch 14/50
35/35 - 0s - loss: 0.0014 - val_loss: 0.0159 - 145ms/epoch - 4ms/step
Epoch 15/50
35/35 - 0s - loss: 0.0012 - val_loss: 0.0178 - 144ms/epoch - 4ms/step
Epoch 16/50
35/35 - 0s - loss: 9.0322e-04 - val_loss: 0.0190 - 149ms/epoch - 4ms/step
Epoch 17/50
35/35 - 0s - loss: 7.2143e-04 - val_loss: 0.0189 - 140ms/epoch - 4ms/step
Epoch 18/50
35/35 - 0s - loss: 5.7439e-04 - val_loss: 0.0176 - 149ms/epoch - 4ms/step
Epoch 19/50
35/35 - 0s - loss: 5.0986e-04 - val_loss: 0.0178 - 147ms/epoch - 4ms/step
Epoch 20/50
35/35 - 0s - loss: 6.2877e-04 - val_loss: 0.0162 - 146ms/epoch - 4ms/step
Epoch 21/50
35/35 - 0s - loss: 0.0015 - val_loss: 0.0217 - 136ms/epoch - 4ms/step
Epoch 22/50
35/35 - 0s - loss: 0.0011 - val_loss: 0.0191 - 144ms/epoch - 4ms/step
Epoch 23/50
35/35 - 0s - loss: 0.0014 - val_loss: 0.0198 - 167ms/epoch - 5ms/step
Epoch 24/50
35/35 - 0s - loss: 0.0013 - val_loss: 0.0268 - 142ms/epoch - 4ms/step
Epoch 25/50
35/35 - 0s - loss: 0.0011 - val_loss: 0.0198 - 144ms/epoch - 4ms/step
Epoch 26/50
35/35 - 0s - loss: 0.0011 - val_loss: 0.0230 - 148ms/epoch - 4ms/step
Epoch 27/50
35/35 - 0s - loss: 0.0011 - val_loss: 0.0327 - 142ms/epoch - 4ms/step
Epoch 28/50
35/35 - 0s - loss: 0.0011 - val_loss: 0.0237 - 146ms/epoch - 4ms/step
Epoch 29/50
35/35 - 0s - loss: 7.4763e-04 - val_loss: 0.0228 - 140ms/epoch - 4ms/step
Epoch 30/50
35/35 - 0s - loss: 9.3439e-04 - val_loss: 0.0179 - 142ms/epoch - 4ms/step
Epoch 31/50
35/35 - 0s - loss: 8.0788e-04 - val_loss: 0.0226 - 149ms/epoch - 4ms/step
Epoch 32/50
35/35 - 0s - loss: 6.9574e-04 - val_loss: 0.0215 - 142ms/epoch - 4ms/step
Epoch 33/50
35/35 - 0s - loss: 6.7308e-04 - val_loss: 0.0192 - 153ms/epoch - 4ms/step
Epoch 34/50
35/35 - 0s - loss: 4.8849e-04 - val_loss: 0.0256 - 142ms/epoch - 4ms/step
Epoch 35/50
35/35 - 0s - loss: 4.9057e-04 - val_loss: 0.0247 - 140ms/epoch - 4ms/step
Epoch 36/50
35/35 - 0s - loss: 3.7272e-04 - val_loss: 0.0210 - 139ms/epoch - 4ms/step
Epoch 37/50
35/35 - 0s - loss: 3.2031e-04 - val_loss: 0.0252 - 146ms/epoch - 4ms/step
Epoch 38/50
35/35 - 0s - loss: 3.9534e-04 - val_loss: 0.0173 - 146ms/epoch - 4ms/step
Epoch 39/50
35/35 - 0s - loss: 4.2066e-04 - val_loss: 0.0265 - 144ms/epoch - 4ms/step
Epoch 40/50
35/35 - 0s - loss: 3.9276e-04 - val_loss: 0.0193 - 150ms/epoch - 4ms/step
Epoch 41/50
35/35 - 0s - loss: 3.9539e-04 - val_loss: 0.0248 - 144ms/epoch - 4ms/step
Epoch 42/50
35/35 - 0s - loss: 6.8258e-04 - val_loss: 0.0220 - 143ms/epoch - 4ms/step
Epoch 43/50
35/35 - 0s - loss: 0.0011 - val_loss: 0.0175 - 154ms/epoch - 4ms/step
Epoch 44/50
35/35 - 0s - loss: 0.0011 - val_loss: 0.0253 - 150ms/epoch - 4ms/step
Epoch 45/50
35/35 - 0s - loss: 9.2074e-04 - val_loss: 0.0187 - 145ms/epoch - 4ms/step
Epoch 46/50
35/35 - 0s - loss: 8.6237e-04 - val_loss: 0.0193 - 151ms/epoch - 4ms/step
Epoch 47/50
35/35 - 0s - loss: 0.0011 - val_loss: 0.0278 - 168ms/epoch - 5ms/step
Epoch 48/50
35/35 - 0s - loss: 0.0014 - val_loss: 0.0195 - 143ms/epoch - 4ms/step
Epoch 49/50
35/35 - 0s - loss: 8.3373e-04 - val_loss: 0.0187 - 143ms/epoch - 4ms/step
Epoch 50/50
35/35 - 0s - loss: 6.2680e-04 - val_loss: 0.0193 - 152ms/epoch - 4ms/step
2/2 [==============================] - 0s 4ms/step
Testing Season 2021 - Mean Squared Error: 0.01181564799547147
Testing Season 2021 - Mean Absolute Error: 0.0698591268933504
Testing Season 2021 - R-squared: 0.6922176724574496
Testing Season 2021 - Explained Variance Score: 0.7139729981903418
Epoch 1/50
36/36 - 1s - loss: 0.0485 - val_loss: 0.0248 - 1s/epoch - 40ms/step
Epoch 2/50
36/36 - 0s - loss: 0.0148 - val_loss: 0.0305 - 156ms/epoch - 4ms/step
Epoch 3/50
36/36 - 0s - loss: 0.0113 - val_loss: 0.0181 - 147ms/epoch - 4ms/step
Epoch 4/50
36/36 - 0s - loss: 0.0089 - val_loss: 0.0217 - 149ms/epoch - 4ms/step
Epoch 5/50
36/36 - 0s - loss: 0.0073 - val_loss: 0.0255 - 151ms/epoch - 4ms/step
Epoch 6/50
36/36 - 0s - loss: 0.0066 - val_loss: 0.0281 - 138ms/epoch - 4ms/step
Epoch 7/50
36/36 - 0s - loss: 0.0052 - val_loss: 0.0280 - 142ms/epoch - 4ms/step
Epoch 8/50
36/36 - 0s - loss: 0.0047 - val_loss: 0.0305 - 149ms/epoch - 4ms/step
Epoch 9/50
36/36 - 0s - loss: 0.0043 - val_loss: 0.0241 - 145ms/epoch - 4ms/step
Epoch 10/50
36/36 - 0s - loss: 0.0037 - val_loss: 0.0423 - 146ms/epoch - 4ms/step
Epoch 11/50
36/36 - 0s - loss: 0.0028 - val_loss: 0.0349 - 151ms/epoch - 4ms/step
Epoch 12/50
36/36 - 0s - loss: 0.0022 - val_loss: 0.0363 - 139ms/epoch - 4ms/step
Epoch 13/50
36/36 - 0s - loss: 0.0020 - val_loss: 0.0343 - 153ms/epoch - 4ms/step
Epoch 14/50
36/36 - 0s - loss: 0.0015 - val_loss: 0.0397 - 146ms/epoch - 4ms/step
Epoch 15/50
36/36 - 0s - loss: 0.0013 - val_loss: 0.0448 - 145ms/epoch - 4ms/step
Epoch 16/50
36/36 - 0s - loss: 0.0013 - val_loss: 0.0325 - 145ms/epoch - 4ms/step
Epoch 17/50
36/36 - 0s - loss: 0.0010 - val_loss: 0.0401 - 156ms/epoch - 4ms/step
Epoch 18/50
36/36 - 0s - loss: 0.0011 - val_loss: 0.0375 - 141ms/epoch - 4ms/step
Epoch 19/50
36/36 - 0s - loss: 0.0011 - val_loss: 0.0423 - 148ms/epoch - 4ms/step
Epoch 20/50
36/36 - 0s - loss: 0.0011 - val_loss: 0.0372 - 140ms/epoch - 4ms/step
Epoch 21/50
36/36 - 0s - loss: 0.0012 - val_loss: 0.0254 - 176ms/epoch - 5ms/step
Epoch 22/50
36/36 - 0s - loss: 0.0011 - val_loss: 0.0314 - 157ms/epoch - 4ms/step
Epoch 23/50
36/36 - 0s - loss: 0.0014 - val_loss: 0.0388 - 146ms/epoch - 4ms/step
Epoch 24/50
36/36 - 0s - loss: 0.0014 - val_loss: 0.0508 - 148ms/epoch - 4ms/step
Epoch 25/50
36/36 - 0s - loss: 0.0010 - val_loss: 0.0313 - 147ms/epoch - 4ms/step
Epoch 26/50
36/36 - 0s - loss: 9.6470e-04 - val_loss: 0.0354 - 143ms/epoch - 4ms/step
Epoch 27/50
36/36 - 0s - loss: 8.7624e-04 - val_loss: 0.0458 - 138ms/epoch - 4ms/step
Epoch 28/50
36/36 - 0s - loss: 8.4065e-04 - val_loss: 0.0358 - 138ms/epoch - 4ms/step
Epoch 29/50
36/36 - 0s - loss: 9.0454e-04 - val_loss: 0.0374 - 139ms/epoch - 4ms/step
Epoch 30/50
36/36 - 0s - loss: 6.3959e-04 - val_loss: 0.0385 - 148ms/epoch - 4ms/step
Epoch 31/50
36/36 - 0s - loss: 5.0956e-04 - val_loss: 0.0350 - 145ms/epoch - 4ms/step
Epoch 32/50
36/36 - 0s - loss: 3.7232e-04 - val_loss: 0.0367 - 145ms/epoch - 4ms/step
Epoch 33/50
36/36 - 0s - loss: 3.8842e-04 - val_loss: 0.0309 - 141ms/epoch - 4ms/step
Epoch 34/50
36/36 - 0s - loss: 3.9981e-04 - val_loss: 0.0319 - 141ms/epoch - 4ms/step
Epoch 35/50
36/36 - 0s - loss: 4.0272e-04 - val_loss: 0.0365 - 143ms/epoch - 4ms/step
Epoch 36/50
36/36 - 0s - loss: 4.7670e-04 - val_loss: 0.0353 - 149ms/epoch - 4ms/step
Epoch 37/50
36/36 - 0s - loss: 4.9304e-04 - val_loss: 0.0322 - 146ms/epoch - 4ms/step
Epoch 38/50
36/36 - 0s - loss: 3.8859e-04 - val_loss: 0.0450 - 146ms/epoch - 4ms/step
Epoch 39/50
36/36 - 0s - loss: 4.5009e-04 - val_loss: 0.0360 - 142ms/epoch - 4ms/step
Epoch 40/50
36/36 - 0s - loss: 4.5749e-04 - val_loss: 0.0343 - 139ms/epoch - 4ms/step
Epoch 41/50
36/36 - 0s - loss: 4.4481e-04 - val_loss: 0.0372 - 143ms/epoch - 4ms/step
Epoch 42/50
36/36 - 0s - loss: 9.2156e-04 - val_loss: 0.0391 - 153ms/epoch - 4ms/step
Epoch 43/50
36/36 - 0s - loss: 0.0021 - val_loss: 0.0431 - 139ms/epoch - 4ms/step
Epoch 44/50
36/36 - 0s - loss: 0.0015 - val_loss: 0.0465 - 141ms/epoch - 4ms/step
Epoch 45/50
36/36 - 0s - loss: 0.0014 - val_loss: 0.0428 - 145ms/epoch - 4ms/step

Epoch 46/50
36/36 - 0s - loss: 9.1632e-04 - val_loss: 0.0443 - 145ms/epoch - 4ms/step
Epoch 47/50
36/36 - 0s - loss: 5.9646e-04 - val_loss: 0.0430 - 139ms/epoch - 4ms/step
Epoch 48/50
36/36 - 0s - loss: 5.9308e-04 - val_loss: 0.0333 - 143ms/epoch - 4ms/step
Epoch 49/50
36/36 - 0s - loss: 4.9513e-04 - val_loss: 0.0301 - 136ms/epoch - 4ms/step
Epoch 50/50
36/36 - 0s - loss: 5.7794e-04 - val_loss: 0.0366 - 141ms/epoch - 4ms/step
1/1 [==============================] - 0s 90ms/step
Testing Season 2022 - Mean Squared Error: 0.023973585195937404
Testing Season 2022 - Mean Absolute Error: 0.10579019266895709
Testing Season 2022 - R-squared: 0.49442272677247745
Testing Season 2022 - Explained Variance Score: 0.6384137981161344
Testing Season 2021 - Top 3 Players: Nikola Jokić, Joel Embiid, Stephen Curry
Testing Season 2022 - Top 3 Players: Nikola Jokić, Giannis Antetokounmpo, Joel Embiid